mat-toolbar {
  height: 50px;
  position: relative;
  justify-content: space-between;
  background-color: #00796b;
  background-image: url(/assets/header.png);
  color: white;
}

.nav {
  display: flex;
}

.header-title {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo {
  height: 70%;
  margin-right: 15px;
}
