<mat-toolbar class="mat-elevation-z6">
  <div class="header-title">
    <img class="logo" src="assets/logo.svg" alt="" />
    <span>Черкаський консервний завод. Цех №1</span>
  </div>
  <div class="nav-container">
    <div *ngIf="currentUser" class="nav">
      <button mat-button [matMenuTriggerFor]="appMenu">
        Меню
      </button>
      <mat-menu #appMenu>
        <div mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          {{ currentUser.username }}
        </div>
        <button
          mat-menu-item
          (click)="goAudit()"
          *ngIf="router.url !== '/audit'"
        >
          Облік
        </button>
        <button
          mat-menu-item
          (click)="goSetup()"
          *ngIf="currentUser.isAdmin && router.url !== '/rules'"
        >
          Налаштування
        </button>
        <button mat-menu-item (click)="signOut()">Вийти</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
