<div class="rules">
  <mat-card>
    <mat-card-title>
      Налаштування правил допустимих втрат за годину
    </mat-card-title>
    <mat-card-content>
      <table>
        <tr *ngFor="let rule of rules">
          <td class="rule-title">{{ rule.description }}</td>
          <td>
            <mat-form-field>
              <mat-label>Допустимо</mat-label>
              <input type="number" matInput [(ngModel)]="rule.ok" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Увага</mat-label>
              <input type="number" matInput [(ngModel)]="rule.normal" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Небезпека</mat-label>
              <input type="number" matInput [(ngModel)]="rule.danger" />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveRules()">
        Зберегти
      </button>
    </mat-card-actions>
  </mat-card>
</div>
