.scheme {
  // background-color: #fafafa;
  padding: 10px 20px;
  margin: 15px;
  height: 230px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;

  &-frame {
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
    min-width: 888px;
    min-height: 216px;
    display: flex;

    &-part {
      height: 100%;
      position: absolute;
      z-index: 1;
      padding: 10px;
      box-sizing: border-box;
      color: transparent;
      transition: all 0.1s ease-out, color 0s, padding 0s;

      &.fill-failed {
        left: 115px;
        width: 335px;
      }

      &.inspect-failed {
        left: 375px;
        width: 285px;
      }

      &.ready-failed {
        left: 590px;
        width: 295px;
      }

      &.show {
        color: rgb(245, 47, 47);
        background-color: rgba(64, 139, 224, 0.356);
        border: 4px dashed rgba(64, 139, 224, 0.753);
      }
    }
  }

  svg {
    // transform: scale(0.85);
    height: auto;
    display: block;
    z-index: 10;
  }
}
