.statistics-table {
  width: calc(100% - 30px);
  margin: auto;
  max-height: calc(100% - 260px);
  overflow: auto;
}

table {
  width: 100%;
}

.status-bar {
  padding-right: 15px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  &:not(:last-child) {
    margin-right: 3px;
  }

  &.ok {
    background-color: #00c853;
  }

  &.info {
    background-color: #ffc107;
  }

  &.warn {
    background-color: #f57c00;
  }

  &.danger {
    background-color: #dd2c00;
  }
}

.line-indicator {
  color: #f44336;
}

.mat-column-range {
  width: 200px;
}
