.statistics-table {
  width: calc(100% - 30px);
  margin: auto;
  height: calc(100% - 260px);
  overflow: auto;
}

table {
  width: 100%;
}

.status-bar {
  padding-right: 15px;
}

.status {
  width: calc(100% / 3 - 8px);
  height: 10px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  &:not(:last-child) {
    margin-right: 1px;
  }

  &.ok {
    background-color: #00c853;
  }

  &.info {
    background-color: #ffc107;
  }

  &.warn {
    background-color: #f57c00;
  }

  &.danger {
    background-color: #dd2c00;
  }
}

.line-indicator {
  color: #f44336;
}
