.stats-container {
  height: calc(100% - 50px);
  background: none;
}

mat-drawer {
  background-color: #fafafa;
  padding-top: 10px;
}

mat-form-field {
  margin-right: 10px;
}

.food-calculator {
  padding: 10px;
  background: none;
}

.food-lists {
  display: flex;
  max-height: 500px;
  overflow: auto;
}

.food-list {
  width: 350px;
}

.sum {
  margin-top: 15px;
}

.covered {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
