.stats-container {
  height: calc(100% - 50px);
  background: none;
}

mat-drawer {
  background-color: #fafafa;
  padding-top: 10px;
}

.summary {
  &-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &-value {
      font-weight: bold;
    }
  }
}

.line-title {
  padding: 10px;
  font-weight: bold;
}
